<div class="homepage">

	<div class="categories">
		<img src="../media/wysiwyg/pagayo/pt003/steak_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/fish_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/carrot_b.png">

		<img src="../media/wysiwyg/pagayo/pt003/steak_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/fish_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/carrot_b.png">

		<img src="../media/wysiwyg/pagayo/pt003/steak_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/fish_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/carrot_b.png">
		
		<img src="../media/wysiwyg/pagayo/pt003/steak_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/fish_b.png">
		<img src="../media/wysiwyg/pagayo/pt003/carrot_b.png">
	</div>

	<div class="homeinfo">

		<div class="info-box short">
			<p class="title">Produkter</p>

			<p class="content">123456</p>
		</div>

		<div class="info-box short">
			<p class="title">Produkter</p>

			<p class="content">123456</p>
		</div>

		<div class="info-box short">
			<p class="title">Produkter</p>

			<p class="content">123456</p>
		</div>

		<div class="info-box short">
			<p class="title">Produkter</p>

			<p class="content">123456</p>
		</div>

		<div class="info-box">
			<p class="title">Topp 5 blabla:</p>

			<ol>
				<li>Wagyu</li>
				<li>Mjölk</li>
				<li>Risifrutti</li>
				<li>Kakor</li>
				<li>Morot</li>
			</ol>
		</div>

		<div class="info-box">
			<p class="title">Topp 5 blabla:</p>

			<ol>
				<li>Wagyu</li>
				<li>Mjölk</li>
				<li>Risifrutti</li>
				<li>Kakor</li>
				<li>Morot</li>
			</ol>
		</div>

		<div class="info-box">
			<p class="title">Topp 5 blabla:</p>

			<ol>
				<li>Wagyu</li>
				<li>Mjölk</li>
				<li>Risifrutti</li>
				<li>Kakor</li>
				<li>Morot</li>
			</ol>
		</div>

		<div class="info-box">
			<p class="title">Topp 5 blabla:</p>

			<ol>
				<li>Wagyu</li>
				<li>Mjölk</li>
				<li>Risifrutti</li>
				<li>Kakor</li>
				<li>Morot</li>
			</ol>
		</div>

	</div>

	<div class="howitworks">

		<p class="heading"><span>Hur fungerar det?</span></p>
		<div class="clearer"></div>
		
		<div class="box">
			<img src="../media/wysiwyg/pagayo/pt003/truck.png">
			<p>Vi samlar ihop alla matvaror som finns tillgängliga i Svergie på nätet. Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
		</div>

		<div class="box">
			<img src="../media/wysiwyg/pagayo/pt003/tools.png">
			<p>Med sökverktyg kan du finna massa olika produkter från olika leverantörer. Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		
		<div class="box">
			<img src="../media/wysiwyg/pagayo/pt003/list.png">
			<p>Vi presenterar de varor du sökt efter med all info du kan behöva om den. Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
		</div>

	</div>

</div>